label {
 display: block;
}

input {
    height: 30px;
    width: 200px;
    margin-top: 5px;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }

  nav ul {
    display: flex;
  }

  ul li {
    list-style: none;
    margin-right: 10px;
    padding: 5px;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 20px;
  }

 nav li:hover {
    background-color: lightslategray;
 }